4tQ1/AD/ClientLab45/src/wsdl/localhost_8080/lab3AD/ServeiWeb.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://lab3AD/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://lab3AD/">

<xs:element name="AfegirUsuari" type="tns:AfegirUsuari"/>

<xs:element name="AfegirUsuariResponse" type="tns:AfegirUsuariResponse"/>

<xs:element name="ComprovarCredencials" type="tns:ComprovarCredencials"/>

<xs:element name="ComprovarCredencialsResponse" type="tns:ComprovarCredencialsResponse"/>

<xs:element name="DeleteImage" type="tns:DeleteImage"/>

<xs:element name="DeleteImageResponse" type="tns:DeleteImageResponse"/>

<xs:element name="ListImages" type="tns:ListImages"/>

<xs:element name="ListImagesResponse" type="tns:ListImagesResponse"/>

<xs:element name="ModifyImage" type="tns:ModifyImage"/>

<xs:element name="ModifyImageResponse" type="tns:ModifyImageResponse"/>

<xs:element name="RegisterImage" type="tns:RegisterImage"/>

<xs:element name="RegisterImageResponse" type="tns:RegisterImageResponse"/>

<xs:element name="SearchComplete" type="tns:SearchComplete"/>

<xs:element name="SearchCompleteResponse" type="tns:SearchCompleteResponse"/>

<xs:element name="SearchbyAuthor" type="tns:SearchbyAuthor"/>

<xs:element name="SearchbyAuthorResponse" type="tns:SearchbyAuthorResponse"/>

<xs:element name="SearchbyCreaDate" type="tns:SearchbyCreaDate"/>

<xs:element name="SearchbyCreaDateResponse" type="tns:SearchbyCreaDateResponse"/>

<xs:element name="SearchbyId" type="tns:SearchbyId"/>

<xs:element name="SearchbyIdResponse" type="tns:SearchbyIdResponse"/>

<xs:element name="SearchbyKeywords" type="tns:SearchbyKeywords"/>

<xs:element name="SearchbyKeywordsResponse" type="tns:SearchbyKeywordsResponse"/>

<xs:element name="SearchbyTitle" type="tns:SearchbyTitle"/>

<xs:element name="SearchbyTitleResponse" type="tns:SearchbyTitleResponse"/>

<xs:complexType name="ComprovarCredencials">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ComprovarCredencialsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchbyKeywords">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchbyKeywordsResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteImage">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteImageResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchComplete">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
<xs:element name="arg7" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchCompleteResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegisterImage">
<xs:sequence>
<xs:element name="arg0" type="tns:image" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="image">
<xs:sequence>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
<xs:element name="creator" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaA" type="xs:string" minOccurs="0"/>
<xs:element name="fechaC" type="xs:string" minOccurs="0"/>
<xs:element name="filename" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="keywords" type="xs:string" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegisterImageResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchbyTitle">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchbyTitleResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchbyId">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchbyIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:image" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AfegirUsuari">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AfegirUsuariResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModifyImage">
<xs:sequence>
<xs:element name="arg0" type="tns:image" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModifyImageResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchbyAuthor">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchbyAuthorResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchbyCreaDate">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchbyCreaDateResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListImages">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListImagesResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>