4tQ1/AD/Client_Remot_Soap/src/wsdl/10.10.73.48_8080/Practica0503/Practica03WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://practica03.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://practica03.mycompany.com/" name="Practica03WS">
<types>
<xsd:schema>
<xsd:import namespace="http://practica03.mycompany.com/" schemaLocation="http://10.10.73.48:8080/Practica0503/Practica03WS?xsd=1"/>
</xsd:schema>
</types>
<message name="RegisterImage">
<part name="parameters" element="tns:RegisterImage"/>
</message>
<message name="RegisterImageResponse">
<part name="parameters" element="tns:RegisterImageResponse"/>
</message>
<message name="SearchbyTitle">
<part name="parameters" element="tns:SearchbyTitle"/>
</message>
<message name="SearchbyTitleResponse">
<part name="parameters" element="tns:SearchbyTitleResponse"/>
</message>
<message name="SearchbyCreaDate">
<part name="parameters" element="tns:SearchbyCreaDate"/>
</message>
<message name="SearchbyCreaDateResponse">
<part name="parameters" element="tns:SearchbyCreaDateResponse"/>
</message>
<message name="SearchbyKeywords">
<part name="parameters" element="tns:SearchbyKeywords"/>
</message>
<message name="SearchbyKeywordsResponse">
<part name="parameters" element="tns:SearchbyKeywordsResponse"/>
</message>
<message name="SearchbyAuthor">
<part name="parameters" element="tns:SearchbyAuthor"/>
</message>
<message name="SearchbyAuthorResponse">
<part name="parameters" element="tns:SearchbyAuthorResponse"/>
</message>
<message name="CheckUser">
<part name="parameters" element="tns:CheckUser"/>
</message>
<message name="CheckUserResponse">
<part name="parameters" element="tns:CheckUserResponse"/>
</message>
<message name="UploadImage">
<part name="parameters" element="tns:UploadImage"/>
</message>
<message name="UploadImageResponse">
<part name="parameters" element="tns:UploadImageResponse"/>
</message>
<message name="DownloadImage">
<part name="parameters" element="tns:DownloadImage"/>
</message>
<message name="DownloadImageResponse">
<part name="parameters" element="tns:DownloadImageResponse"/>
</message>
<message name="ModifyImage">
<part name="parameters" element="tns:ModifyImage"/>
</message>
<message name="ModifyImageResponse">
<part name="parameters" element="tns:ModifyImageResponse"/>
</message>
<message name="DeleteImage">
<part name="parameters" element="tns:DeleteImage"/>
</message>
<message name="DeleteImageResponse">
<part name="parameters" element="tns:DeleteImageResponse"/>
</message>
<message name="ListImage">
<part name="parameters" element="tns:ListImage"/>
</message>
<message name="ListImageResponse">
<part name="parameters" element="tns:ListImageResponse"/>
</message>
<message name="SearchbyId">
<part name="parameters" element="tns:SearchbyId"/>
</message>
<message name="SearchbyIdResponse">
<part name="parameters" element="tns:SearchbyIdResponse"/>
</message>
<portType name="Practica03WS">
<operation name="RegisterImage">
<input wsam:Action="http://practica03.mycompany.com/Practica03WS/RegisterImageRequest" message="tns:RegisterImage"/>
<output wsam:Action="http://practica03.mycompany.com/Practica03WS/RegisterImageResponse" message="tns:RegisterImageResponse"/>
</operation>
<operation name="SearchbyTitle">
<input wsam:Action="http://practica03.mycompany.com/Practica03WS/SearchbyTitleRequest" message="tns:SearchbyTitle"/>
<output wsam:Action="http://practica03.mycompany.com/Practica03WS/SearchbyTitleResponse" message="tns:SearchbyTitleResponse"/>
</operation>
<operation name="SearchbyCreaDate">
<input wsam:Action="http://practica03.mycompany.com/Practica03WS/SearchbyCreaDateRequest" message="tns:SearchbyCreaDate"/>
<output wsam:Action="http://practica03.mycompany.com/Practica03WS/SearchbyCreaDateResponse" message="tns:SearchbyCreaDateResponse"/>
</operation>
<operation name="SearchbyKeywords">
<input wsam:Action="http://practica03.mycompany.com/Practica03WS/SearchbyKeywordsRequest" message="tns:SearchbyKeywords"/>
<output wsam:Action="http://practica03.mycompany.com/Practica03WS/SearchbyKeywordsResponse" message="tns:SearchbyKeywordsResponse"/>
</operation>
<operation name="SearchbyAuthor">
<input wsam:Action="http://practica03.mycompany.com/Practica03WS/SearchbyAuthorRequest" message="tns:SearchbyAuthor"/>
<output wsam:Action="http://practica03.mycompany.com/Practica03WS/SearchbyAuthorResponse" message="tns:SearchbyAuthorResponse"/>
</operation>
<operation name="CheckUser">
<input wsam:Action="http://practica03.mycompany.com/Practica03WS/CheckUserRequest" message="tns:CheckUser"/>
<output wsam:Action="http://practica03.mycompany.com/Practica03WS/CheckUserResponse" message="tns:CheckUserResponse"/>
</operation>
<operation name="UploadImage">
<input wsam:Action="http://practica03.mycompany.com/Practica03WS/UploadImageRequest" message="tns:UploadImage"/>
<output wsam:Action="http://practica03.mycompany.com/Practica03WS/UploadImageResponse" message="tns:UploadImageResponse"/>
</operation>
<operation name="DownloadImage">
<input wsam:Action="http://practica03.mycompany.com/Practica03WS/DownloadImageRequest" message="tns:DownloadImage"/>
<output wsam:Action="http://practica03.mycompany.com/Practica03WS/DownloadImageResponse" message="tns:DownloadImageResponse"/>
</operation>
<operation name="ModifyImage">
<input wsam:Action="http://practica03.mycompany.com/Practica03WS/ModifyImageRequest" message="tns:ModifyImage"/>
<output wsam:Action="http://practica03.mycompany.com/Practica03WS/ModifyImageResponse" message="tns:ModifyImageResponse"/>
</operation>
<operation name="DeleteImage">
<input wsam:Action="http://practica03.mycompany.com/Practica03WS/DeleteImageRequest" message="tns:DeleteImage"/>
<output wsam:Action="http://practica03.mycompany.com/Practica03WS/DeleteImageResponse" message="tns:DeleteImageResponse"/>
</operation>
<operation name="ListImage">
<input wsam:Action="http://practica03.mycompany.com/Practica03WS/ListImageRequest" message="tns:ListImage"/>
<output wsam:Action="http://practica03.mycompany.com/Practica03WS/ListImageResponse" message="tns:ListImageResponse"/>
</operation>
<operation name="SearchbyId">
<input wsam:Action="http://practica03.mycompany.com/Practica03WS/SearchbyIdRequest" message="tns:SearchbyId"/>
<output wsam:Action="http://practica03.mycompany.com/Practica03WS/SearchbyIdResponse" message="tns:SearchbyIdResponse"/>
</operation>
</portType>
<binding name="Practica03WSPortBinding" type="tns:Practica03WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="RegisterImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyCreaDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CheckUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UploadImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DownloadImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Practica03WS">
<port name="Practica03WSPort" binding="tns:Practica03WSPortBinding">
<soap:address location="http://10.10.73.48:8080/Practica0503/Practica03WS"/>
</port>
</service>
</definitions>